@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');
*{
    box-sizing: border-box;
   
}
*, :after, :before {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Kirang Haerang', cursive;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* logo */
.logo{
    color: #fff;
    font-size:4.5rem;
    
    display: inline-block;
    margin-top: -20px;
    position: relative;
}

.logo::after {
  content: '';
  position: absolute;
  left: 91px;
  top: 57px;
  bottom: 0px;
  right: 10px;
  border: 7px solid #fff;
  border-bottom-color: #ff3d00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  animation: logRotation .6s linear infinite;
}
@keyframes logRotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg); 
    }
}

.bg-img {
    /* The image used */
    background-image: url("./img/background.jpg");
  
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    position: absolute;
    width: 85%;
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    
  }
  
  /* The navbar links */
  .topnav {
    overflow: hidden;
    background-color: transparent;
  }
  
  .topnav a {
    outline: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-size: 2rem;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 900px) {
    .topnav a {display: none;}
    .topnav a.icon {
      color: #ff3d00;
      display: block;
      position: absolute;
      right: 0px
    }

    .topnav.responsive {position: relative; z-index: 2; background-color: #000;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  /* End Navbar */

  /* content */
  #content{
    position: absolute;
    background-color: rgba(0,0,0, 0.2);
    top: 40%;
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    color: #fff;
  }
  .admin-container{
    width: 100%;
    background: url('./img/background.jpg');
  }
  .btn{
    font-family: 'Kirang Haerang', cursive;
    font-size: 20px;
    cursor: pointer;
  }
  .question-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.5)
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
  .userBtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  }

  .userBtn:hover {
    opacity: 1;
  }
/* End Content */

/* Leaderboard style */
#users{
  width: 100%;
  border-collapse: collapse;
}
#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
  
}
#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000;
  color: white;
}
/* END Leaderboard */

/* question style */
label{
  display: block;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #fff;
}

/* end question style */

  @media only screen and (max-width: 700px) {
    .logo::after {
      content: '';
      position: absolute;
      left: 91px;
      top: 46px;
      bottom: 0px;
      
      right: 10px;
      border: 7px solid #fff;
      border-bottom-color: #ff3d00;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      animation: logRotation .6s linear infinite;
    }
    #content{
      top:20%;
    }
  }

